In [1]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

importation du tableau principal

In [2]:
df = pd.read_csv("merged_bast.csv")

D:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2,12,14,15,20,21,22,23,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Selection des colonnes

In [52]:
newtab = df[['id','identifier_y','kingdom','phylum','class','order','family','genus','species','verbatimScientificName','countryCode','decimalLatitude','decimalLongitude','hasCoordinate']]

In [43]:
newtab.decimalLongitude = pd.to_numeric(newtab.decimalLongitude,errors = 'coerce')

D:\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [44]:
newtab.head()

           id                                       identifier_y kingdom         phylum           class       order           family        genus                 species  verbatimScientificName countryCode  decimalLatitude  decimalLongitude hasCoordinate
0  2438770494  https://images.ala.org.au/image/proxyImageThum...   Fungi  Basidiomycota  Agaricomycetes  Agaricales   Hygrophoraceae    Hygrocybe     Hygrocybe hypospoda     Hygrocybe hypospoda          AU       -39.020600        146.336100          True
1  2438770494  https://images.ala.org.au/image/proxyImageThum...   Fungi  Basidiomycota  Agaricomycetes  Agaricales   Hygrophoraceae    Hygrocybe     Hygrocybe hypospoda     Hygrocybe hypospoda          AU       -39.020600        146.336100          True
2  2434842541  https://images.ala.org.au/image/proxyImageThum...   Fungi  Basidiomycota  Agaricomycetes  Agaricales       Mycenaceae       Mycena     Mycena mulawaestris     Mycena mulawaestris          AU       -37.666667        145.733333          True
3  2435361192  https://images.ala.org.au/image/proxyImageThum...   Fungi  Basidiomycota  Agaricomycetes  Russulales  Bondarzewiaceae  Amylosporus  Amylosporus campbellii  Amylosporus campbellii          MM              NaN               NaN         False
4  2438837736  https://images.ala.org.au/image/proxyImageThum...   Fungi  Basidiomycota  Agaricomycetes  Agaricales      Agaricaceae    Barcheria    Barcheria willisiana    Barcheria willisiana          AU       -32.176100        121.399700          True

Trie par classe

In [53]:
newtab = newtab[newtab['class']=='Agaricomycetes']

In [ ]:
Harmonisation de la colonne hasCoordinate

In [54]:
newtab.hasCoordinate = newtab.hasCoordinate.replace (['True','true'],True)
newtab.hasCoordinate = newtab.hasCoordinate.replace (['False','false'],False)

In [55]:
newtab.hasCoordinate.value_counts()

True     2340729
False     162391
Name: hasCoordinate, dtype: int64

nettoyage des colonnes qui nous interressent pour le target

In [66]:
newtab = newtab.dropna (subset=['genus','family','species','identifier_y'])

In [63]:
newtab.isna().sum()

id                             0
identifier_y                  83
kingdom                        0
phylum                         0
class                          0
order                          0
family                         0
genus                          0
species                        0
verbatimScientificName         0
countryCode                16229
decimalLatitude           148120
decimalLongitude          148120
hasCoordinate                  0
dtype: int64

In [64]:
newtab.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2339899 entries, 0 to 2503146
Data columns (total 14 columns):
 #   Column                  Dtype
---  ------                  -----
 0   id                      int64
 1   identifier_y            object
 2   kingdom                 object
 3   phylum                  object
 4   class                   object
 5   order                   object
 6   family                  object
 7   genus                   object
 8   species                 object
 9   verbatimScientificName  object
 10  countryCode             object
 11  decimalLatitude         float64
 12  decimalLongitude        object
 13  hasCoordinate           bool
dtypes: bool(1), float64(1), int64(1), object(11)
memory usage: 252.2+ MB

In [ ]:
enregistrement du tableau

In [67]:
newtab.to_csv('tableau_propre.csv')