In [1]:
import pandas as pd
import os

In [3]:
df=pd.read_csv("allpathidclear.csv")
df.head()

,Unnamed: 0,id,identifier_y,order,family,genus,species,verbatimScientificName,countryCode,decimalLatitude,decimalLongitude,hasCoordinate,path,notreid
0,0,2438770494,https://images.ala.org.au/image/proxyImageThum...,Agaricales,Hygrophoraceae,Hygrocybe,Hygrocybe hypospoda,Hygrocybe hypospoda,AU,-39.020600,146.336100,True,/Agaricales/Hygrophoraceae/Hygrocybe/Hygrocybe...,0
1,1,2438770494,https://images.ala.org.au/image/proxyImageThum...,Agaricales,Hygrophoraceae,Hygrocybe,Hygrocybe hypospoda,Hygrocybe hypospoda,AU,-39.020600,146.336100,True,/Agaricales/Hygrophoraceae/Hygrocybe/Hygrocybe...,1
2,2,2434842541,https://images.ala.org.au/image/proxyImageThum...,Agaricales,Mycenaceae,Mycena,Mycena mulawaestris,Mycena mulawaestris,AU,-37.666667,145.733333,True,/Agaricales/Mycenaceae/Mycena/Mycena mulawaest...,2
3,3,2435361192,https://images.ala.org.au/image/proxyImageThum...,Russulales,Bondarzewiaceae,Amylosporus,Amylosporus campbellii,Amylosporus campbellii,MM,NaN,NaN,False,/Russulales/Bondarzewiaceae/Amylosporus/Amylos...,3
4,4,2438837736,https://images.ala.org.au/image/proxyImageThum...,Agaricales,Agaricaceae,Barcheria,Barcheria willisiana,Barcheria willisiana,AU,-32.176100,121.399700,True,/Agaricales/Agaricaceae/Barcheria/Barcheria wi...,4

In [8]:
g=[]
g=df["order"].unique()

In [13]:
spath=r"C:\Users\baugn\Mush\esperons"

In [15]:
for i in g:
    os.mkdir(os.path.join(spath, i))     #première couche de dossier (order)

In [24]:
for i in g:
    for j in df[df["order"]==i]["family"].unique():    #deuxième couche de dossier (family)
        os.mkdir(os.path.join(os.path.join(spath,i),j))

In [27]:
for i in g:
    for j in df[df["order"]==i]["family"].unique():         #troisieme couche de dossier  (genus)
        for k in df[df["family"]==j]["genus"].unique():
            os.mkdir(os.path.join(os.path.join(os.path.join(spath,i),j),k))

In [30]:
for i in g:
    for j in df[df["order"]==i]["family"].unique():                   #quatrième couche de dossier(spécies)
        for k in df[df["family"]==j]["genus"].unique():
            for l in df[df["genus"]==k]["species"].unique():
                os.mkdir(os.path.join(os.path.join(os.path.join(os.path.join(spath,i),j),k),l))